In [2]:
import pandas as pd

data=pd.read_excel('C:\\Users\\pragy\\Downloads\\assignments.xlsx')

In [3]:

for i,row in data.iterrows():
    i=[]

In [4]:
zz=pd.DataFrame(data)

In [5]:
zz.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0

In [6]:
zz['total paid']=zz['Quantity']*zz['UnitPrice']

In [7]:
zz.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,total paid
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,20.34

In [8]:
import datetime
import calendar
zz['InvoiceYear']=zz['InvoiceDate'].map(lambda x: x.year)

In [9]:
zz.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,total paid,InvoiceYear
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,15.30,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,20.34,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,22.00,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,20.34,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,20.34,2010

In [10]:
zz['InvoiceYear']=pd.Categorical(zz['InvoiceYear'])

In [11]:
zz.drop('InvoiceNo',axis=1,inplace=True)

In [12]:
zz.drop('StockCode',axis=1,inplace=True)
zz.head()

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,total paid,InvoiceYear
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,15.30,2010
1,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,20.34,2010
2,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,22.00,2010
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,20.34,2010
4,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,20.34,2010

In [13]:
def draw_missing_data_table(df):
    total=df.isnull().sum().sort_values(ascending=False)
    percent=(df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data=pd.concat([total,percent],axis=1,keys=['Total','Percent'])
    return missing_data
draw_missing_data_table(zz)

              Total   Percent
CustomerID   135080  0.249267
Description    1454  0.002683
InvoiceYear       0  0.000000
total paid        0  0.000000
UnitPrice         0  0.000000
InvoiceDate       0  0.000000
Quantity          0  0.000000

In [14]:
zz.drop(zz[pd.isnull(zz['CustomerID'])].index,inplace=True)

In [15]:
zz.drop(zz[pd.isnull(zz['Description'])].index,inplace=True)
zz['InvoiceDate']=zz['InvoiceDate'].map(lambda x: x.month)

In [16]:
Df_for_cust=zz.copy()
Df_for_cust.drop('Description',axis=1, inplace=True)

In [17]:
Df_for_cust.CustomerID=Df_for_cust.CustomerID.astype(int)
Df_for_cust.head()

   Quantity  InvoiceDate  UnitPrice  CustomerID  total paid InvoiceYear
0         6           12       2.55       17850       15.30        2010
1         6           12       3.39       17850       20.34        2010
2         8           12       2.75       17850       22.00        2010
3         6           12       3.39       17850       20.34        2010
4         6           12       3.39       17850       20.34        2010

In [18]:
Df_for_cust.drop('UnitPrice',axis=1,inplace=True)

In [19]:
Df_for_cust.drop('Quantity',axis=1,inplace=True)
Df_for_cust.head()

   InvoiceDate  CustomerID  total paid InvoiceYear
0           12       17850       15.30        2010
1           12       17850       20.34        2010
2           12       17850       22.00        2010
3           12       17850       20.34        2010
4           12       17850       20.34        2010

In [20]:
#while(Df_for_cust['InvoiceYear'].astype(str).any()=='2011'):
 #       Df_for_cust['InvoiceDate']=Df_for_cust['InvoiceDate'].astype(int)+12
Df_for_cust['InvoiceDate']=Df_for_cust['InvoiceDate'].astype(str)+"-"+Df_for_cust['InvoiceYear'].astype(str)

In [21]:
Df_for_cust.drop('InvoiceYear',axis=1,inplace=True)
Df_for_cust['InvoiceDate']=pd.Categorical(Df_for_cust['InvoiceDate'])
#Df_for_cust=pd.get_dummies(Df_for_cust,drop_first=True)

In [24]:
import numpy as np
new_check=pd.pivot_table(Df_for_cust, values='total paid', index='CustomerID', columns=['InvoiceDate'], aggfunc=np.sum)

In [25]:
new_check=new_check[['12-2010','1-2011','2-2011','3-2011','4-2011','5-2011','6-2011','7-2011','8-2011','9-2011','10-2011','11-2011','12-2011']]
new_check.head()

InvoiceDate,12-2010,1-2011,2-2011,3-2011,4-2011,5-2011,6-2011,7-2011,8-2011,9-2011,10-2011,11-2011,12-2011
CustomerID,,,,,,,,,,,,,
12346,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347,711.79,475.39,NaN,NaN,636.25,NaN,382.52,NaN,584.91,NaN,1294.32,NaN,224.82
12348,892.80,227.44,NaN,NaN,367.00,NaN,NaN,NaN,NaN,310.0,NaN,NaN,NaN
12349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1757.55,NaN
12350,NaN,NaN,334.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
import math
freq=np.empty((0),int)
rec=np.empty((0),int)
mon=np.empty((0),int)
last=np.empty((0),int)
age=np.empty((0),int)
id=new_check.index.values
for x in id:
    a=0
    b=0
    c=0
    count=0
    d=0
    for m in new_check.loc[x]:
        count=count+1
        if(math.isnan(m)==False):
            a=a+1
            b=b+m
            c=count
        if(c!=0):
            d=d+1 
    freq=np.append(freq,a)
    mon=np.append(mon,b)   
    last=np.append(last,c)
    age=np.append(age,d)
rec=13-last
#since there are 13 months in total

In [27]:
import lifetimes
df=pd.DataFrame(index=id,data={'freq': freq,'age': age,'rec': rec})
from lifetimes import BetaGeoFitter
bgf=BetaGeoFitter()
bgf.fit(df['freq'],df['rec'],df['age'])
print(bgf)

<lifetimes.BetaGeoFitter: fitted with 4372 subjects, a: 1.69, alpha: 0.00, b: 1.79, r: 0.08>

In [28]:
from lifetimes.plotting import plot_frequency_recency_matrix
plot_frequency_recency_matrix(bgf)
t = 1
df['predicted_purchases'] = df.apply(lambda r: bgf.conditional_expected_number_of_purchases_up_to_time(t, r['freq'], r['rec'], r['age']), axis=1)
#df.sort('predicted_purchases').tail(5)
from lifetimes.plotting import plot_period_transactions
plot_period_transactions(bgf)

C:\Users\pragy\Anaconda3\lib\site-packages\lifetimes\fitters\beta_geo_fitter.py:199: RuntimeWarning: overflow encountered in double_scalars
  ((alpha + T) / (alpha + recency)) ** (r + x)

In [29]:
df['total money spent']=mon

In [30]:
df=df.sort_values(by=['rec'])
df.head()

       age  freq  rec  predicted_purchases  total money spent
14739   13     7    0                  0.0            3899.10
14655    8     4    0                  0.0            1930.15
13267   13    11    0                  0.0            4404.44
14653   12     4    0                  0.0            1947.55
13269   13    10    0                  0.0            5315.92

In [31]:
unique_money=df[['total money spent']].drop_duplicates()
unique_money=unique_money[df['total money spent']> 0]
unique_money['Band']=pd.qcut(unique_money['total money spent'],13)
unique_money=unique_money[['Band']].drop_duplicates()
unique_money

C:\Users\pragy\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                                 Band
14739            (2576.364, 4202.896]
14655            (1784.619, 2576.364]
13267           (4202.896, 279489.02]
16119              (358.205, 460.636]
14649             (1310.89, 1784.619]
17383              (136.782, 204.185]
16149              (204.185, 287.429]
13310                (991.9, 1310.89]
14629                (751.732, 991.9]
13311              (460.636, 603.984]
14720              (603.984, 751.732]
17266              (287.429, 358.205]
14865  (-0.0009999999999876, 136.782]

In [32]:
def f(row):
    if row['total money spent'] <= 136.782:
        val = 1
    elif row['total money spent'] > 136.782 and row['total money spent'] <= 204.185:
        val = 2
    elif row['total money spent'] > 204.185 and row['total money spent'] <= 287.429:
        val = 3 
    elif row['total money spent'] > 287.429 and row['total money spent'] <= 358.205:
        val = 4
    elif row['total money spent'] > 358.205 and row['total money spent'] <= 460.636:
        val = 5
    elif row['total money spent'] > 460.636 and row['total money spent'] <= 603.984:
        val = 6
    elif row['total money spent'] > 603.984 and row['total money spent'] <= 751.732:
        val = 7
    elif row['total money spent'] > 751.732 and row['total money spent'] <= 991.9:
        val = 8
    elif row['total money spent'] > 991.9 and row['total money spent'] <= 1310.89:
        val = 9
    elif row['total money spent'] > 1310.89 and row['total money spent'] <= 1784.619:
        val = 10
    elif row['total money spent'] > 1784.619 and row['total money spent'] <= 2576.364:
        val = 11
    elif row['total money spent'] > 2576.364 and row['total money spent'] <= 4202.896:
        val = 12
    else:
        val = 13
    return val
df['money']=df.apply(f,axis=1)

In [33]:
df.head()

       age  freq  rec  predicted_purchases  total money spent  money
14739   13     7    0                  0.0            3899.10     12
14655    8     4    0                  0.0            1930.15     11
13267   13    11    0                  0.0            4404.44     13
14653   12     4    0                  0.0            1947.55     11
13269   13    10    0                  0.0            5315.92     13

In [34]:
df.drop('total money spent',axis=1,inplace=True)

In [35]:
df.head()

       age  freq  rec  predicted_purchases  money
14739   13     7    0                  0.0     12
14655    8     4    0                  0.0     11
13267   13    11    0                  0.0     13
14653   12     4    0                  0.0     11
13269   13    10    0                  0.0     13

In [36]:
exc="Downloads\\parentof.xlsx"
with open(exc,"wb") as output:
    writer=pd.ExcelWriter(output,engine='xlsxwriter')
    df.to_excel(writer,'Sheet1')
    writer.save()

FileNotFoundError: [Errno 2] No such file or directory: 'Downloads\\parentof.xlsx'

In [ ]:
#Df_for_cust=Df_for_cust.groupby(['InvoiceYear','InvoiceDate','CustomerID'],as_index=False)['total paid'].sum()